@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&display=swap');

:root {
  --background-color: #ededed;
  --color: #2b2b2b;
  --accent: #9488c3;
  --focus: #2d7ff9;
  --font: 1.2rem/1.53 'IBM Plex Serif', 'Georgia', serif;
  --transition: 1.25s all ease;
}

.dark {
  --background-color: #282828;
  --color: #ccbeaf;
  --accent: #9488c3;
}

body {
  margin: 0;
  font: var(--font);
  font-feature-settings: 'case', 'calt', 'tnum', 'ss01', 'zero';
  text-rendering: optimizeLegibility;
  background: var(--background-color);
  color: var(--color);
  opacity: 0.01;
  animation: fade 1s ease-in forwards 0.3s;
}

:focus {
  outline: 2px solid var(--focus);
  outline-offset: 2px;
}

/* general classes
     ========================================================================== */
h1 {
  font-size: 1.5em;
  color: var(--accent);
  margin: 0;
}

a {
  color: var(--accent);
  word-break: break-word;
}

.breadcrumb-container {
  padding: 1em 0;
  margin-left: 10px;
}

/* utility classes
     ========================================================================== */
.cursor-pointer {
  cursor: pointer;
}

/* homepage classes
     ========================================================================== */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

.profile-picture {
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 0.3rem rgb(148 136 195 / 70%);
  border-radius: 50%;
  margin-bottom: 1em;
}

.intro-container {
  display: grid;
  place-content: center;
  position: relative;
  height: 90vh;
  max-width: 800px;
  padding: .75em;
  margin: 0 auto;
  box-sizing: border-box;
}

.airtable-container {
  position: relative
}

.hello {
  animation-name: hello-animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-flex;
  align-items: center;
  font-size: 0.6em;
  padding-left: 15px;
}

.intro-title {
  display: flex;
  justify-content: center;
}

.speaker-high-volume {
  background: unset;
  border: unset;
  font-size: 0.8em;
  padding: 0;
  margin-right: 2px;
}

.airtable-embed {
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 0px 1px;
  height: calc(100vh - 100px);
  width: calc(100vw - 20px);
  margin: 10px;
  background: url('../img/loader.svg') center no-repeat;
}

.dark .airtable-embed {
  background: url('../img/loader-white.svg') center no-repeat;
}

/* contact classes
     ========================================================================== */
.wrapper {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.contact-inner {
  display: grid;
  place-content: center;
  padding: .75em;
}

.contact-heading {
  grid-row: 2/span 1;
}

.contact-social {
  display: flex;
}

.contact-social a {
  width: 2rem;
  margin-right: 1.6rem;
  font-size: 0;
}

.contact-social svg:hover,
.dark .contact-social svg {
  fill: var(--accent);
}

/**
   * white-label airtable mobile
   */
#white-labeling-airtable {
  position: absolute;
  width: 100vw;
  height: 27px;
  bottom: 15px;
  background: var(--background-color);
}

/* desktop styles
     ========================================================================== */
@media screen and (min-width: 600px) {
  :root {
    --font: 1.6rem/1.63 'IBM Plex Serif', 'Georgia', serif;
  }

  h1 {
    font-size: 2.4em;
  }

  .breadcrumb-container {
    padding: 2em 0;
    margin-left: unset;
  }

  .profile-container {
    flex-direction: row;
    justify-content: center;
    padding-bottom: unset;
  }

  .profile-picture {
    width: 200px;
    height: 200px;
    margin-right: 2em;
    margin-bottom: unset;
  }

  .intro-container {
    padding: 1.5em 0.75em;
  }

  /**
   * white-label airtable desktop
   */
  #white-labeling-airtable {
    width: 1442px;
    height: 25px;
    bottom: 9px;
    left: 9px;
  }

  .airtable-embed {
    height: calc(100vh - 200px);
    width: 100%;
    margin: unset;
  }

  .airtable-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .wrapper {
    margin: 0 auto;
  }

  .contact-inner {
    width: 100%;
    padding: 4em .75em;
  }
}

/* animations
     ========================================================================== */
@keyframes fade {
  from {
    opacity: 0.01;
    transform: scale(0.994);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hello-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}
