@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&display=swap');

:root {
  --background-color: #ededed;
  --color: #2b2b2b;
  --accent: #9488c3;
  --accent-bg: #9488c340;
  --focus: #2d7ff9;
  --font: 1.2rem/1.53 'IBM Plex Serif', 'Georgia', serif;
  --transition: 1.25s all ease;
}

.dark {
  --background-color: #282828;
  --color: #ccbeaf;
  --hover-color: #282828;
  --accent: #9488c3;
}

html {
  --thumbBG: #bfbfbf;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font: var(--font);
  font-feature-settings: 'case', 'calt', 'tnum', 'ss01', 'zero';
  text-rendering: optimizeLegibility;
  background: var(--background-color);
  color: var(--color);
  opacity: 0.01;
  animation: fade 1s ease-in forwards 0.3s;
  scrollbar-color: var(--thumbBG);
}

::selection {
  background: var(--accent-bg); /* WebKit/Blink Browsers */
}

:focus {
  outline: 2px solid var(--focus);
  outline-offset: 2px;
}

.trail {
  position: absolute;
  width: 3.75rem;
  height: 3.75rem;
  margin-top: -30px;
  margin-left: -30px;
  background-size: cover;
  background: url(../images/emoji-trail.png) no-repeat;
  pointer-events: none;
}

/* show focus only when user is tabbing, you can find it's relevant JS code in main.js*/
body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) button:focus {
  outline: none;
}

/* custom scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 50px;
  border: 3px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #8e8e8e;
}

/* general classes
     ========================================================================== */
h1 {
  font-size: 1.5em;
  color: var(--accent);
  margin: 0;
}

a {
  color: var(--accent);
  word-break: break-word;
  text-decoration: unset;
}

a.animated-underline {
  position: relative;
}

a.animated-underline:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

a.animated-underline:hover:before {
  visibility: visible;
  width: 100%;
}

.breadcrumb-container {
  padding: 1em 0;
  margin-left: 10px;
}

.scroll-to-bottom {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5em;
}

.scroll-to-bottom a:focus {
  outline: unset;
}

.scroll-to-bottom svg {
  width: 1em;
  color: var(--color);
}

.bounce {
  animation: bounce 2s infinite;
}

.bounce:hover {
  animation: unset;
}

/* utility classes
     ========================================================================== */
.cursor-pointer {
  cursor: pointer;
}

.d-inline-flex {
  display: inline-flex;
}

/* homepage classes
     ========================================================================== */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

.profile-picture {
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 0.3rem rgb(148 136 195 / 70%);
  border-radius: 50%;
  margin-bottom: 1em;
}

.intro-container {
  display: grid;
  place-content: center;
  position: relative;
  height: calc(100vh - 79px);
  max-width: 800px;
  padding: .75em;
  margin: 0 auto;
  box-sizing: border-box;
}

.airtable-container {
  position: relative
}

.intro-title {
  display: flex;
  justify-content: center;
}

.intro-title>span {
  font-size: 0.6em;
  display: flex;
  align-self: center;
  padding-left: 0.25em;
  padding-top: 0.25em;
}

.speaker-high-volume {
  background: unset;
  border: unset;
  font-size: 0.8em;
  padding: 0;
  margin-right: 2px;
}

.company-external-link svg {
  width: 0.85em;
  padding: 5px 0 0 5px;
}

/* now.html classes
     ========================================================================== */
.breadcrumb-container {
  display: flex;
}

.go-back {
  align-items: center;
  align-self: center;
  white-space: nowrap;
}

.go-back svg {
  width: 0.5em;
  padding: 5px 8px 0 0;
}

.page-title {
  width: 100%;
  justify-content: center;
  display: flex;
  font-size: 22px;
  margin: 0;
}

.airtable-embed {
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 0px 1px;
  height: calc(100vh - 78px);
  width: calc(100vw - 20px);
  margin: 0 10px;
  background: url('../images/loader.svg') center no-repeat;
}

.dark .airtable-embed {
  background: url('../images/loader-white.svg') center no-repeat
}

/* contact classes
     ========================================================================== */
.wrapper {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.contact-inner {
  display: grid;
  place-content: center;
  padding: .75em;
}

.contact-social {
  display: flex
}

.contact-social a {
  width: 2rem;
  margin-right: 1.6rem;
  font-size: 0;
}

.contact-social .github-icon {
  padding-top: 0.2rem;
}

.contact-social svg:hover,
.dark .contact-social svg {
  fill: var(--accent);
  transition: fill .2s ease-out;
}

.dark .contact-social svg:hover {
  fill: var(--hover-color);
  transition: fill .2s ease-out;
}

/**
   * white-label airtable mobile
   */
#white-labeling-airtable {
  position: absolute;
  width: calc(100vw - 18px);
  height: 27px;
  left: 9px;
  bottom: 5px;
  background: var(--background-color);
  border-top: 1px solid #cacaca;
}

.dark #white-labeling-airtable {
  border-top: 1px solid #222;
}

.accent-bg {
  background: var(--accent-bg);
}

/* desktop styles
     ========================================================================== */
@media screen and (min-width: 600px) {
  :root {
    --font: 1.6rem/1.63 'IBM Plex Serif', 'Georgia', serif;
  }

  h1 {
    font-size: 2.2em;
  }

  .intro-description {
    margin: 2em 0;
  }

  .breadcrumb-container {
    padding: 2em 0;
    margin-left: unset;
  }

  .profile-container {
    flex-direction: row;
    justify-content: center;
    padding-bottom: unset;
  }

  .profile-picture {
    width: 200px;
    height: 200px;
    margin-right: 2em;
    margin-bottom: unset;
  }

  .intro-container {
    padding: 1.5em 0.75em;
  }

  /**
   * white-label airtable desktop
   */
  #white-labeling-airtable {
    width: 1442px;
    height: 25px;
    bottom: 9px;
  }

  .airtable-embed {
    height: calc(100vh - 255px);
    width: 100%;
    margin: unset;
  }

  .page-title {
    padding-right: 5rem;
    font-size: 1.5em
  }

  .airtable-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1440px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .wrapper {
    margin: 0 auto;
  }

  .contact-inner {
    padding: 4em .75em;
  }
}

/* animations
     ========================================================================== */
@keyframes fade {
  from {
    opacity: 0.01;
    transform: scale(0.994);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-8px);
  }

  60% {
    transform: translateY(-4px);
  }
}
